.homeContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 244, 244);
  padding-bottom: 30px;
}
.actualMovieContainer {
  /* background-color: #484848; */
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items:start;
  padding-top: 20px;
  padding: 30px 20px;
}

.movieContainer {
  overflow: hidden;
  /* box-shadow: 5px 5px 15px #7f8080; */
  width: 340px;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  cursor: pointer;  
}

.picture {
  border: solid 1px rgb(209, 208, 208);  
  height: 490px;
}

.picture img:hover {
    transform: scale(1.1);
    /* transition: 0.25s ease; */
    transition-duration: 800ms;
    
}

.picture  img {
 transition: 0.25s ease;
}

.picture {
  overflow: hidden;
}

.movieTitle {  
  font-weight:500;
  margin: 15px 0
}

.pagination {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
}

/* .pagination li {
  border: 1px solid #ccc;
  border-radius: 54px;
  padding: 0.3rem 0.07rem;
  cursor: pointer;
  background-color: #f9f9f9;
} */

.pagination li a {
  text-decoration: none;
  color: #333;  
  border: 1px solid #ccc;
  border-radius: 54px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.pagination li a:hover {
  border: 1px solid rgb(255, 214, 0);
}

.pagination li a.active {
  background-color: rgb(255, 214, 0);  
  font-weight: bold;
}
